{% extends 'myapps/base.html' %}
{% load static %}
{% block content %}
    <div class="container-fluid" id="content-start">
        <div class="container my-5">
            <h1 class="display-3" id="page-title">My Web Apps</h1>
        </div>
        <div class="container">
            <ul>
                <li>
                    <a href="mlOCR/" class="text-decoration-none hvr-float">
                        <h2 class="app-title">Digit Recognizer (using CNN)</h2>
                    </a>
                    <p class="text-justify app-desc">This is a Handwritten Digit Recognition software. It can recognize the numerical digits (0-9). I used a Convolutional Neural Network to train a model to detect the numbers/characters. The dataset used for training is the MNIST dataset.</p>
                </li>
            </ul>
        </div>
{% endblock content %}