{% extends 'myapps/base.html' %}
{% load static %}
{% block content %}
    <div class="container-fluid" id="content-start">
        <div class="container-fluid my-5">
            <h1>My Apps (WIP!)</h1>
        </div>
        <div class="container">
            <ul>
                <li>
                    <a href="mlOCR/"><h3>OCR</h3></a>
                    <p class="text-justify">This is a Optical Character Recognition software. It can recognize the digits (0-9) and characters (a-z) one at a time. I used a Convolutional Neural Network to train a model to detect the numbers/characters. The dataset used for training is the MNIST dataset.</p>
                </li>
            </ul>
        </div>
{% endblock content %}