{% extends 'myapps/base.html' %}
{% load static %}
{% block content %}
    <div class="container-fluid" id="content-start">
        <div class="container mt-5">
            <h1>ML OCR (WIP!)</h1>
        </div>
        <div class="container my-2 text-justify">
            <p>This is a Optical Character Recognition software. It can recognize the digits (0-9) and characters (a-z) one at a time. I used a Convolutional Neural Network to train a model to detect the numbers/characters. The dataset used for training is the MNIST dataset.</p>
            <p>Draw a character or a number and see if the model correctly recognizes your input :)</p>
        </div>
        <div class="container">
            <h3 class="text-center">Draw Below</h3>
        </div>
        <div class="container d-flex justify-content-center" id="canvas-holder">
        </div>
        <div class="container d-flex justify-content-center mb-3" id="canvas-controls">
            <button class="btn btn-primary rounded-0 p-2" id="clear-button">Reset</btn>
            <button class="btn btn-success rounded-0 p-2" id="predict-button">Detect</btn>
        </div>
        <div class="container mt-2 mb-5" id="canvas-holder">
            <p style="font-size:1.4rem" class="text-center">
                <strong>Prediction: 
                <span id="server-response"></span>
                <span class="fa fa-spinner fa-pulse fa-fw" id="ocr-loading"></span>
                </strong>
            </p>
        </div>
    </div>
{% endblock content %}