{% extends 'myapps/base.html' %}
{% load static %}
{% block content %}
    <section class="container-fluid" id="content-start">
        <div class="container mt-5">
            <h1>Sorting Visualization<br>![Work in Progress]!</h1>
        </div>
        <div class="container my-2 text-justify">
            <p>Visualize a sorting algorithm!</p>
        </div>
        <div class="container d-flex align-items-center justify-content-center">
            {% verbatim  %}
            <div class="row mt-2 mb-5" id="array-container">
                <div class="col-12 text-center my-3" id="number-array">
                    <ul class="list-group list-group-horizontal justify-content-center flex-wrap">
                        <li class="list-group-item flex-fill" v-for="e in arr">{{ e }}</li>
                    </ul>
                </div>
                <div class="text-center col-12 input-parameters d-flex justify-content-center flex-wrap">
                    <div class="px-4 py-2">
                        Length: 
                        <input type='number' class="text-center" v-model="n" min="2" max="500">
                    </div>
                    <div class="px-4 py-2">
                        Min Range: 
                        <input type='number' class="text-center" v-model="minRange">
                    </div>
                    <div class="px-4 py-2">
                        Max Range: 
                        <input type='number' class="text-center" v-model="maxRange">
                    </div>
                </div>
                <p class="text-center col-12">
                    <button v-on:click="genArray" class="btn btn-primary">Generate Random Array</button> 
                </p>
            </div>
            {% endverbatim  %}
        </div>
        <div class="container mb-5" id="array-visualization-container">
            {% verbatim  %}
            <h3>1. Selection Sort</h3>
            <div class="container-fluid d-flex justify-content-center flex-wrap">
                <div class="px-4 py-2">
                    Sort Speed: 
                    <input type='number' class="text-center" v-model="speed" min="0" max="2000">
                </div>
                <div class="px-4 py-2">
                    Order: 
                    <button class="btn btn-primary dropdown-toggle" type="button" id="orderDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Ascending</button>
                    <div class="dropdown-menu" aria-labelledby="orderDropdown">
                        <a class="dropdown-item" v-on:click="setAscending">Ascending</a>
                        <a class="dropdown-item" v-on:click="setDescending">Descending</a>
                    </div>
                </div>
            </div>
            <div class="container-fluid d-flex">
                <div class="px-4 py-2">
                    <button v-on:click="startSort" class="btn btn-success" id='startButton'>Start Sorting</button>
                </div>
                <div class="px-4 py-2">
                    <button v-on:click="stopSort" class="btn btn-danger" id='stopButton' disabled>Stop Sorting</button>
                </div>
            </div>
            <div class="row mt-2" >
                <div class="col-12 text-center my-4" id="number-array-visualizer">
                    <ul class="list-group list-group-horizontal justify-content-center arrVisualize flex-wrap">
                        <li class="list-group-item flex-fill" v-for="(e,idx) in visual_arr" v-bind:id="idx">{{ e }}</li>
                    </ul>
                </div>
            </div>
            <p class="text-center"><strong>Complexity:</strong>
            <br>Worst Case Time: <em>O(n^2)<em>
            <br>Best Case Time: <em>O(n^2)<em>
            <br>Average Case Time: <em>O(n^2)<em>
            <br>Worst Case Space: <em>O(1)<em>
            </p>
            {% endverbatim  %}
        </div>
    </section>
{% endblock content %}