$body-background: #101010;
$body-background-alt: #1f1f1f;
$nav-background: #0a0a0a;

@font-face{
    font-family: GoodTimes;
    src: url('fonts/good_times.ttf')
}

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

html, body{
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
    background-color: $body-background;
}

//Header
#intro-header{
    background-color: #000000;
    background-image: url('assets/saber.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 100vh;
    #dp{
        width: 200px;
        height: 200px;
        border: 3px solid darkviolet;
    }

    h1{
        font-family: GoodTimes, "Helvetica Neue", Helvetica, Arial, sans-serif;
        color: mediumorchid;
    }
    p{
        color: plum;
    }
}

//Nav
.nav-custom{
    background-color: $nav-background;
}

#nav-logo{
    width: 75px;
    height: auto;
}

//Sections
section{
    min-height: 100vh;
}

.push-spaces{
    height: 60px;
}

.section-spacer{
    padding-top: 75px;
}

.section-title{
    color: magenta;
}

.bg-alt{
    background-color: $body-background-alt;
}

.svg-bg{
    min-height: 100vh;
}


//About
#about{
    background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
    p{
        font-family: 'Sriracha', cursive;
    }
    .svg-bg{
        background-image: url("assets/about-bg.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: 2500px 2500px;
    }
}

//Education
#education{
    background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
}


//Skills
#skills{
    background-image: linear-gradient(to top, #7028e4 0%, #e5b2ca 100%);
}


//Projects
#projects{
    background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
}

.project-picDesc{
    background-color: #0f0f0f;
}

.project-details{
    .btn{
        background-color: purple;
        color: white;
    }
    .btn:hover{
        background-color: magenta;
    }
}

#project-title{
    background-color: #0f0f0f;
    text-align: center;
}


//Media Querries 

@media (max-width:768px){
    //Header
    #intro-header{
        background-image: url('assets/saber_r.jpg');
        padding: 25% 0%;
        [class*="col-"] {
            margin-bottom: 200px;
        }
    }
    //Sections
    .push-spaces{
        height: 30px;
    }
    //Nav
    #navbarNav{
        padding: 5px;
        text-align: center;
    }
    //About
    #about{
        .svg-bg{
            background-size: 2000px 2000px;
        }
    }
}


//----- Footer -----

#footer {
    background: darkorchid !important;
}

#footer a {
    color: #ffffff;
    text-decoration: none !important;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}
#footer ul.social li{
	padding: 3px 0;
}
#footer ul.social li a i {
    margin-right: 5px;
	font-size:25px;
	transition: .5s all ease;
}
#footer ul.social li:hover a i {
	font-size:30px;
	margin-top:-10px;
}
#footer ul.social li a,
#footer ul.quick-links li a{
	color:#ffffff;
}
#footer ul.social li a:hover{
	color:#eeeeee;
}
#footer ul.quick-links li{
	padding: 3px 0;
	transition: .5s all ease;
}
#footer ul.quick-links li:hover{
	padding: 3px 0;
	margin-left:5px;
	font-weight:700;
}
#footer ul.quick-links li a i{
	margin-right: 5px;
}
#footer ul.quick-links li:hover a i {
    font-weight: 700;
}



