@import 'main.scss';

#array-container{
    .input-parameters{
        margin: 1rem 0px;
        p{
            margin: 0px 15px;
            display: inline;
        }
    }
}

.dropdown-item:hover{
    cursor: pointer;
}