    {% extends 'me/base.html' %}
    {% load static %}
    {% block content %}       
        <header class='jumbotron jumbotron-fluid text-white mb-0' id='intro-header'>
                <div class="header-bg p-0">
                </div>
                <div class="header-blue-lines p-0">
                </div>
                <div class="header-purple-line p-0" >
                </div>
                <div class='header-triangle p-0'>
                </div>
                <div class='header-me p-0'>
                </div>
                <div class="container d-flex align-items-center justify-content-center header-text-container pt-md-5">
                    <div class='header-text text-center'>
                        <h1 class='display-4 text-center anim-header-h1 hvr-float'>Nitish Devadiga</h1>
                        <p class='text-center hvr-float'>Web Developer | Programmer | Graphic Designer</p>
                    </div>
                </div>
                <a href="#about" id="scroll-down-indicator">
                    <i class="fas fa-chevron-down"></i>
                </a>
        </header>

        <!-- Navigation -->
        <nav class="navbar sticky-top navbar-expand-lg navbar-dark nav-custom">
            <a class='navbar-brand' href={% url "me-home" %}>
                <img src="{% static "me/assets/logo-small.webp" %}" id="nav-logo"/>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            {% verbatim %}
            <div class="collapse navbar-collapse " id="navbarNav">
                <ul class="navbar-nav d-flex justify-content-md-between" style="width:100%; padding:0 10%" id="navbar-items">
                    <template v-for="(value, name) in navlist">
                        <li class="nav-item" v-bind:id="idprefix + name">
                            <a class="nav-link hvr-grow" :href="value" v-on:click="navItemClick">
                                {{ name }}
                            </a>
                        </li>
                    </template>
                </ul>
            </div>
            {% endverbatim %}
        </nav>

        <div class="container-fluid load d-flex align-items-center justify-content-center">
            <span class="fa fa-spinner fa-pulse fa-fw" id="loading"></span>
        </div>

        <div class="container-fluid p-0" id="content-start">
        <!-- About Me -->
        <section class="container-fluid p-0 " id="about">
        <div class="container-fluid svg-bg py-2 d-flex align-items-center justify-content-center">
            <div class="container py-3" >
                <div class="section-spacer"></div>
                <h2 class="display-4 mb-3 section-title anim-about-title">
                    About Me
                </h2>
                <div class="container text-white">
                    <p class="text-justify anim-about-text" >
                        {{ about.intro }}
                    </p>
                    {% for p in about.text_as_list %}
                        <p class="text-justify anim-about-text">
                            {{ p }}
                        </p>
                    {% endfor %}
                </div>
                <div class="container d-flex justify-content-center mt-5 about-contact">
                    <a class="text-decoration-none hvr-grow" href="#contact"><h3>Contact Me</h3></a>
                </div>
                <hr>
                <div class="container my-4 socials d-flex flex-column justify-content-center">
                    <ul class="list-unstyled list-inline social text-center text-white d-flex flex-row justify-content-between">
                        <li class="list-inline-item hvr-float"><a href="https://www.facebook.com/nitish.devadiga.50/" target="_blank"><i class="fab fa-facebook "></i></a></li>
                        <li class="list-inline-item hvr-float"><a href="https://twitter.com/blackviper619" target="_blank" class="text-decoration-none"><i class="fab fa-twitter"></i></a></li>
                        <li class="list-inline-item hvr-float"><a href="https://www.linkedin.com/in/nitish-devadiga/" class="text-decoration-none" target="_blank"><i class="fab fa-linkedin"></i></a></li>
                        <li class="list-inline-item hvr-float"><a href="https://www.instagram.com/nitish_de_fall/" class="text-decoration-none" target="_blank"><i class="fab fa-instagram"></i></a></li>
                        <li class="list-inline-item hvr-float"><a href="https://www.behance.net/nitish_devadiga" class="text-decoration-none" target="_blank"><i class="fab fa-behance"></i></a></li>
                        <li class="list-inline-item hvr-float"><a href="https://github.com/Cypherball/" target="_blank" class="text-decoration-none"><i class="fab fa-github"></i></a></li>
                        <li class="list-inline-item hvr-float"><a href="mailto:contact@nitish-web.dev" target="_blank" class="text-decoration-none"><i class="fas fa-envelope"></i></a></li>
                    </ul>
                </div>
            </div>
            </div>
        </section>

        <!-- Education -->
        <section class="container-fluid p-0" id="education">
        <div class="container-fluid svg-bg py-2 d-flex align-items-center justify-content-center">
            <div class="container">
                <div class="section-spacer"></div>
                <h2 class="display-4 mb-2 section-title anim-education-title">
                    Education
                </h2>
                {% for e in education %}
                    <div class="row text-white justify-content-center mb-4 p-2 anim-education-row">
                        <div class="col-4 d-flex flex-row justify-content-center align-items-center education-logo px-2 hvr-grow">
                            <img src="{{ e.logo }}" alt="{{ e.institution }} Logo" class="rounded-lg anim-education-logo"/>
                        </div>
                        <div class="col-8 px-2">
                            <div class="container d-flex flex-column">
                                <h3 class="anim-education-details">{{ e.institution }}</h3>
                                <h5 class="anim-education-details">{{ e.course }}</h5>
                                <p class="anim-education-details">{{ e.year }}</p>
                                {% if e.board %}
                                    <p class="anim-education-details">Board: {{ e.board }}</p>
                                {% endif %}
                                <p class="anim-education-details">Marks: {{ e.score }} {{ e.scoreFormat }}</p>
                                {% if e.marksheet %}
                                    <a href="{{ e.marksheet }}" target="_blank" class="anim-education-details text-decoration-none hvr-float">View Marksheet</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    {% if not forloop.last %}
                        <hr>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        </section>

        <!-- Skills -->
        <section class="container-fluid p-0 text-white" id="skills">
        <div class="container-fluid svg-bg py-2 d-flex align-items-center justify-content-center">
            <div class="container" id="skills-content">
                <div class="section-spacer"></div>
                <h2 class="display-4 mb-3 section-title anim-skills-title">
                    Skills
                </h2>
                <div class="container mb-5">
                {% for c in skills %}
                    <h4 class="anim-skills-category">{{ c.0.category }}</h4>
                    <div class="container text-white my-4">
                        <ul class="list-inline d-flex flex-wrap" id="skill-items">
                        {% for s in c %}
                            <li class="list-inline-item rounded text-white text-center p-2 m-2 hvr-float-shadow anim-skills-skillList">{{ s.skill }}</li>
                        {% endfor %}
                        </ul>
                    </div>
                {% endfor %}
                </div>
            </div>
        </div>
        </section>

        <!-- Certifications -->
        <section class="container-fluid p-0" id="certifications">
        <div class="container-fluid svg-bg pt-2 pb-5 d-flex align-items-center justify-content-center">
            <div class="container">
                <div class="section-spacer"></div>
                <h2 class="display-4 mb-3 section-title anim-certification-title">
                    Certificates
                </h2>
                <div class="row">
                    {% for certification in certifications %}
                        <div class="col-12 col-lg-6 mb-3 anim-certification-row">
                            <div class="card text-white bg-dark projects hvr-float">
                                <div class="container d-flex flex-row justify-content-center certificate-preview rounded-top"> 
                                    <div class="certificate-hovereffect">
                                        <img class="img-responsive" src="{{ certification.preview }}" alt="Certificate Preview">
                                        <div class="certificate-preview-overlay d-flex flex-column justify-content-between align-content-center">
                                            <h5>{{ certification.issued_by }}</h5>
                                            <a class="info" role='button' href="{{ certification.verification_link }}" target="_blank">Verify</a>
                                            <div class="certificate-dates d-flex flex-row justify-content-between align-content-center p-2">
                                                <p>{{ certification.issued_month }} {{ certification.issued_year }}</p>
                                                {% if certification.validity %}
                                                    <p>Validity: {{ certification.validity}}</p>
                                                {% else %}
                                                    <p>Validity: &#8734;</p>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <a href="{{ certification.verification_link }}" target="_blank" class="text-decoration-none link-no-style">
                                <div class="card-body certificate-details p-3 d-flex justify-content-center align-items-center rounded-bottom">
                                    <h4 class="card-title text-center m-0" id="certificate-title">{{ certification.title }}</h4>
                                </div>
                                </a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        <div>
        </section>


        <!-- Portfolio -->
        <section class="container-fluid p-0 " id="portfolio">
        <div class="container-fluid svg-bg py-2 d-flex align-items-center justify-content-center">
            <div class="container py-3" >
                <div class="section-spacer"></div>
                <h2 class="display-4 mb-3 section-title anim-portfolio-title">
                    Graphic Design Portfolio [WIP]
                </h2>
                <div class="container text-white">
                    <p class=" anim-about-text" >
                        Hey, I'm not only good with programming and coding, I can create art too!
                    </p>
                    <p class=" anim-about-text">
                        <a class="btn btn-primary" href="portfolio/">Visit Page</a>
                    </p>
                </div>
            </div>
        </div>
        </section>


        <!-- Projects -->
        <section class="container-fluid p-0" id="projects">
        <div class="container-fluid svg-bg py-2 d-flex align-items-center justify-content-center">
            <div class="container">
                <div class="section-spacer"></div>
                <h2 class="display-4 mb-3 section-title anim-projects-title">
                    Projects
                </h2>
                <div class="row mb-5">
                    {% for project in projects %}
                        <div class="col-12 col-md-6 mb-3 anim-projects-proj">
                            <div class="card text-white bg-dark projects hvr-float">
                                <div class="container d-flex flex-row justify-content-center project-picDesc">
                                    <img src="{{ project.picDesc }}" style="max-width:100%; max-height:300px;"/>
                                </div>
                                <div class="card-body p-0 project-details">
                                    <h3 class="card-title align-items-center p-2" id="project-title">{{ project.title }}</h3>
                                    <p class="card-text text-justify px-3">{{ project.desc }}</p>
                                    <p class="card-text text-justify px-3"><strong>Technology Used:</strong> {{ project.techUsed }}</p>
                                    <a href="{{ project.link }}" class="btn btn-block py-3" role='button' target="_blank">View Project</a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        </section>

        <!-- Apps -->
        <section class="container-fluid p-0 " id="apps">
        <div class="container-fluid svg-bg py-2 d-flex align-items-center justify-content-center">
            <div class="container py-3" >
                <div class="section-spacer"></div>
                <h2 class="display-4 mb-3 section-title anim-apps-title">
                    Web Apps [WIP]
                </h2>
                <div class="container text-white">
                    <p class=" anim-about-text" >
                        Check out some of my web apps!<br>
                        <em>*Pages may still be under construction.</em>
                    </p>
                    <p class=" anim-about-text">
                        <a class="btn btn-primary" href="apps/">Visit Page</a>
                    </p>
                </div>
            </div>
        </div>
        </section>

        <!-- Contact -->
        <section class="container-fluid p-0 " id="contact">
        <div class="container-fluid svg-bg py-2 d-flex align-items-center justify-content-center">
            <div class="container py-3" >
                <div class="section-spacer"></div>
                <h2 class="display-4 mb-3 section-title anim-contact-title">
                    Contact Me
                </h2>
                <div class="container text-white contact-form-container p-4 py-md-4 px-md-5 rounded anim-contact-animate">
                    <form method="post" action="#">
                    {% csrf_token %}
                        <div class="form-row">
                            <div class="form-group col-12 col-md-6">
                                <label for="inputName" class="col-form-label-lg">Name</label>
                                <input type="text" class="form-control form-control-lg hvr-float" id="inputName" placeholder="Your Name">
                            </div>
                            <div class="form-group col-12 col-md-6">
                                <label for="inputEmail" class="col-form-label-lg">Email</label>
                                <input type="email" class="form-control form-control-lg hvr-float" id="inputEmail" placeholder="Your Email">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputMessage" class="col-form-label-lg">Message</label>
                            <textarea class="form-control form-control-lg hvr-float" id="inputMessage" rows="5" placeholder="Message"></textarea>
                        </div>
                        <div class="form-group mt-5 px-5">
                            <button type="submit" class="btn btn-lg btn-block btn-contact hvr-float">Send</button>
                        </div>
                    </form>
                </div>
                <div class="container text-white my-5 px-0" id="contact-info">
                    <div class="row">
                        <div class="col-12 col-md-6 py-3 py-md-0 anim-contact-animate">
                            <div class="container-fluid px-0">
                                <h4 class="mb-3">
                                    <span class="fa fa-envelope pr-2"></span>
                                    Email
                                </h4>
                                <a href="mailto:{{ contact.email }}" class="text-decoration-none text-white hvr-float p-4 rounded">
                                    {{ contact.email }}
                                </a>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 py-3 pt-md-0 pb-md-4 anim-contact-animate">
                            <div class="container-fluid px-0">
                                <h4 class="mb-3"> 
                                    <span class="fa fa-phone pr-2"></span>
                                    Phone
                                </h4>
                                <a href="tel: +91{{ contact.phone }}" class="text-decoration-none text-white p-4 rounded hvr-float" >
                                    +91 {{ contact.phone }}
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </section>
        </div>
    {% endblock content %}
    