{% extends 'me/base.html' %}
{% load static %}
{% block content %}
    <!-- Navigation -->
    <nav class="navbar sticky-top navbar-expand-lg navbar-dark nav-custom">
        <a class='navbar-brand' href={% url "me-home" %}>
            <img src="{% static "me/assets/logo-small.webp" %}" id="nav-logo"/>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        {% verbatim %}
        <div class="collapse navbar-collapse " id="navbarNav">
            <ul class="navbar-nav d-flex justify-content-md-between" style="width:100%; padding:0 10%" id="navbar-items">
                <template v-for="(value, name) in navlist">
                    <li class="nav-item" v-bind:id="idprefix + name">
                        <a class="nav-link hvr-grow" :href="value" v-on:click="navItemClick">
                            {{ name }}
                        </a>
                    </li>
                </template>
            </ul>
        </div>
        {% endverbatim %}
    </nav>
    
    <div class="container-fluid p-0" id="content-area">
        <section class="text-white" id="portfolio-intro">
            <div class="container-fluid p-0" id="intro-container">
                <div class="intro-1 p-0">
                </div>
                <div class="intro-welcome p-0">
                    <h1 class="display-1">Welcome</h1>
                </div>
                <div class="intro-2 p-0" >
                </div>
                
                <div class='py-5 px-4 intro-heading'>
                    <h1 class="display-2">Graphic<br>Design</h1> 
                </div>
            </div>
        </section>
    </div> 
{% endblock content %}
 