@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Teko:wght@500&display=swap");
html, body {
  scroll-behavior: smooth;
}

html {
  font-size: 1rem;
}

@media (min-width: 1200px) {
  html {
    font-size: 1.1rem;
  }
}

body {
  overflow-x: hidden;
  background-color: #000033;
}

#content-area {
  visibility: hidden;
  display: none;
}

.link-no-style {
  text-decoration: none !important;
  color: #fff;
}

.link-no-style :hover {
  text-decoration: none !important;
  color: #fff;
}

#intro-header {
  width: 100%;
  background-color: #6666ff;
  height: 100vh;
  z-index: -1;
}

#intro-header .header-bg {
  position: absolute;
  top: 0;
  background-image: -webkit-gradient(linear, left top, right top, from(#6666ff), to(#336699));
  background-image: linear-gradient(to right, #6666ff 0%, #336699 100%);
  background-repeat: no-repeat;
  background-position: top right;
  background-size: cover;
  width: 100%;
  height: 100%;
}

#intro-header .header-blue-lines {
  width: 100%;
  height: 100%;
  opacity: 100%;
  background-image: url("assets/Header/blue-lines.png");
  background-repeat: no-repeat;
  background-position: top right;
  background-size: cover;
  position: absolute;
  top: 0;
  width: 100%;
  right: 0;
}

#intro-header .header-purple-line {
  position: absolute;
  opacity: 0%;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: url("assets/Header/purple-line.png");
  background-repeat: no-repeat;
  background-position: top right;
  background-size: cover;
}

#intro-header .header-triangle {
  width: 100%;
  height: 100%;
  opacity: 0%;
  background-image: url("assets/Header/triangle.png");
  background-repeat: no-repeat;
  background-position: top right;
  background-size: cover;
  position: absolute;
  top: 0;
}

#intro-header .header-me {
  background-image: url("assets/Header/me.png");
  background-repeat: no-repeat;
  background-position: top right;
  background-size: cover;
  position: absolute;
  width: 100%;
  top: 0;
  height: 100%;
}

#intro-header .header-text-container {
  height: 100%;
}

#intro-header .header-text-container .header-text h1 {
  opacity: 0%;
  font-family: "Teko", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #ccffff;
  line-height: 5rem;
  font-size: 6rem;
  text-shadow: 2px 2px 5px #000033;
  display: block;
}

#intro-header .header-text-container .header-text p {
  opacity: 0%;
  margin-top: 2rem;
  font-family: 'Lato', "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
  color: #000033;
  padding: 0.5rem;
  background-color: #99ccff;
  border-radius: 1rem;
}

#intro-header .header-text-container .header-text:hover {
  cursor: default;
}

#intro-header #scroll-down-indicator {
  opacity: 0;
  -webkit-animation: bounce 1.5s ease infinite;
          animation: bounce 1.5s ease infinite;
  color: #fff;
  width: 100%;
  font-size: 2rem;
  height: 4rem;
  left: 50%;
  bottom: 2rem;
  letter-spacing: -1px;
  line-height: 4rem;
  margin-left: -3rem;
  margin-bottom: 2rem;
  position: absolute;
  text-align: center;
  width: 6rem;
}

@-webkit-keyframes bounce {
  50% {
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes bounce {
  50% {
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.nav-custom {
  background-color: #000033;
  min-height: 8vh;
}

#nav-logo {
  width: 60px;
  height: auto;
}

section {
  min-height: 100vh;
}

section, footer {
  border-style: solid;
  border-width: 6px 10px;
  border-color: #000033;
  border-radius: 15px;
}

footer {
  border-width: 6px 10px 10px 10px;
}

.push-spaces {
  height: 60px;
}

.section-spacer {
  padding-top: 75px;
}

.section-title {
  color: white;
  padding-bottom: 20px;
  font-family: "Teko", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.bg-alt {
  background-color: #1f1f1f;
}

.svg-bg {
  min-height: 100vh;
}

#about {
  background-color: #30cfd0;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#30cfd0), to(#330867));
  background-image: linear-gradient(to bottom, #30cfd0 0%, #330867 100%);
}

#about p {
  font-family: 'Lato', sans-serif;
}

#about .svg-bg {
  background-image: url("assets/Sections/about-bg.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 2500px 2500px;
}

#about hr {
  background-color: #fff;
}

#about .about-contact a {
  color: #fff;
}

#about .about-contact a:hover {
  color: #30cfd0;
}

#about .socials {
  font-size: 1.5em;
  width: 60%;
  margin: auto;
}

#about .socials a {
  color: #fff;
}

#about .socials a:hover {
  color: #30cfd0;
}

#about .socials ul {
  width: 100%;
}

#education {
  background-color: #b224ef;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#d84494), to(#330867));
  background-image: linear-gradient(to top, #d84494 0%, #330867 100%);
}

#education .svg-bg {
  background-image: url("assets/Sections/education-bg.webp");
  background-repeat: no-repeat;
  background-position: "center";
  background-size: 1000px 1000px;
}

#education .education-logo img {
  width: 120px;
  height: 120px;
}

#education hr {
  background-color: #fff;
}

#education a {
  color: #99ccff;
}

#education a:hover {
  color: #30cfd0;
}

#skills {
  background-image: -webkit-gradient(linear, left bottom, left top, from(#3e0574), to(#d84494));
  background-image: linear-gradient(to top, #3e0574 0%, #d84494 100%);
}

#skills .svg-bg {
  background-image: url("assets/Sections/skills-bg.webp");
  background-repeat: no-repeat;
  background-position: center 10%;
  background-size: 1800px 1800px;
}

#skills ul li {
  background-color: #1565c0;
}

#skills ul li:hover {
  background-color: #1e88e5;
  cursor: pointer;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

#certifications {
  background-image: -webkit-gradient(linear, left bottom, left top, from(#006064), to(#3e0574));
  background-image: linear-gradient(to top, #006064 0%, #3e0574 100%);
}

#certifications .svg-bg {
  background-image: url("assets/Sections/certification-bg.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 2500px 2500px;
}

#certifications #certification-title {
  text-align: center;
  text-decoration: none;
}

#certifications #certification-title :hover {
  text-decoration: none;
}

#certifications .card-body {
  background-color: #1565c0;
  color: #f1f1f1;
}

#certifications .card-body:hover {
  background-color: #1e88e5;
  color: #fff;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

#certifications .certificate-preview {
  background-image: radial-gradient(73% 147%, #EADFDF 59%, #ECE2DF 100%), radial-gradient(91% 146%, rgba(255, 255, 255, 0.5) 47%, rgba(0, 0, 0, 0.5) 100%);
  background-blend-mode: screen;
}

.certificate-hovereffect {
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
}

.certificate-hovereffect .certificate-preview-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.certificate-hovereffect img {
  display: block;
  position: relative;
  -webkit-transition: all .4s linear;
  transition: all .4s linear;
  width: 100%;
  max-height: 350px;
  margin: auto;
}

.certificate-hovereffect h5 {
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  position: relative;
  background: rgba(0, 0, 0, 0.6);
  -webkit-transform: translatey(-100px);
          transform: translatey(-100px);
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  padding: 10px;
}

.certificate-hovereffect a.info {
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  color: #fff;
  border: 1px solid #fff;
  background-color: #006064;
  opacity: 0;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  filter: alpha(opacity=0);
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  margin: auto;
  padding: 7px 14px;
}

.certificate-hovereffect a.info:hover {
  -webkit-box-shadow: 0 0 5px #fff;
          box-shadow: 0 0 5px #fff;
  background-color: #1e88e5;
}

.certificate-hovereffect .certificate-dates {
  color: #fff;
  background: rgba(0, 0, 0, 0.6);
}

.certificate-hovereffect .certificate-dates p {
  padding: 0;
  margin: 0;
}

.certificate-hovereffect:hover img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.certificate-hovereffect:hover .certificate-preview-overlay {
  opacity: 1;
  filter: alpha(opacity=100);
}

.certificate-hovereffect:hover h5, .certificate-hovereffect:hover a.info {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: translatey(0);
          transform: translatey(0);
}

.certificate-hovereffect:hover a.info {
  -webkit-transition-delay: .2s;
          transition-delay: .2s;
}

#portfolio {
  background-color: #000033;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#f2f2f2), to(#006064));
  background-image: linear-gradient(to top, #f2f2f2 0%, #006064 100%);
}

#portfolio .svg-bg {
  background-repeat: no-repeat;
  background-position: center;
  background-size: 2000px 2000px;
}

#projects {
  background-image: -webkit-gradient(linear, left bottom, left top, from(#29abe2), to(#f2f2f2));
  background-image: linear-gradient(to top, #29abe2 0%, #f2f2f2 100%);
}

#projects .section-title {
  color: #2f2f2f;
}

#projects .svg-bg {
  background-image: url("assets/Sections/projects-bg.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 4000px 4000px;
}

#projects .project-picDesc {
  background-color: #002846;
}

#projects .project-details .btn {
  background-color: #002846;
  color: #fff;
}

#projects .project-details .btn:hover {
  background-color: #29abe2;
  color: #fff;
}

#projects #project-title {
  background-color: #1f1f1f;
  text-align: center;
}

#apps {
  background-color: #000033;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#9c27b0), to(#29abe2));
  background-image: linear-gradient(to top, #9c27b0 0%, #29abe2 100%);
}

#apps .svg-bg {
  background-repeat: no-repeat;
  background-position: center;
  background-size: 2000px 2000px;
}

.btn {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  text-align: center;
  text-transform: uppercase;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.btn:hover {
  color: white;
  background-position: right center;
}

.btn-contact {
  background-image: -webkit-gradient(linear, left top, right top, from(#DA22FF), color-stop(51%, #9733EE), to(#DA22FF));
  background-image: linear-gradient(to right, #DA22FF 0%, #9733EE 51%, #DA22FF 100%);
}

#contact {
  background-image: -webkit-gradient(linear, left bottom, left top, from(#4527a0), to(#9c27b0));
  background-image: linear-gradient(to top, #4527a0 0%, #9c27b0 100%);
}

#contact .svg-bg {
  background-repeat: no-repeat;
  background-position: center;
  background-size: 2500px 2500px;
}

#contact .contact-form-container {
  background-image: linear-gradient(45deg, #4527a0 3.6%, #673ab7 90.4%);
}

#contact .contact-form-container form textarea {
  resize: none;
}

#contact #contact-info a {
  width: 100%;
  font-size: 1.2em;
  background-image: linear-gradient(45deg, #4527a0 3.6%, #673ab7 90.4%);
}

@media (max-width: 768px) {
  #intro-header {
    background-image: url("assets/saber_r.webp");
    padding: 25% 0%;
  }
  #intro-header [class*="col-"] {
    margin-bottom: 200px;
  }
  .push-spaces {
    height: 30px;
  }
  #navbarNav {
    padding: 5px;
    text-align: center;
  }
  #about .svg-bg {
    background-size: 2000px 2000px;
  }
  #about .socials {
    width: 90%;
  }
}

#footer {
  background-image: linear-gradient(109.6deg, #540d6e 11.2%, #ee4266 100.2%);
}

#footer a {
  color: #ffffff;
  text-decoration: none !important;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

#footer ul.social li {
  padding: 3px 0;
}

#footer ul.social li a i {
  margin-right: 5px;
  font-size: 25px;
  -webkit-transition: .5s all ease;
  transition: .5s all ease;
}

#footer ul.social li:hover a i {
  font-size: 30px;
  margin-top: -10px;
}

#footer ul.social li a,
#footer ul.quick-links li a {
  color: #ffffff;
}

#footer ul.social li a:hover {
  color: #eeeeee;
}

#footer ul.quick-links li {
  padding: 3px 0;
  -webkit-transition: .5s all ease;
  transition: .5s all ease;
}

#footer ul.quick-links li:hover {
  padding: 3px 0;
  margin-left: 5px;
  font-weight: 700;
}

#footer ul.quick-links li a i {
  margin-right: 5px;
}

#footer ul.quick-links li:hover a i {
  font-weight: 700;
}
/*# sourceMappingURL=home.css.map */