$body-background: #000033;
$body-background-alt: #1f1f1f;
$nav-background: #000033;

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Teko:wght@500&display=swap');
$headFont: 'Teko', "Helvetica Neue", Helvetica, Arial, sans-serif;

html, body{
    scroll-behavior: smooth;
    overflow-x: hidden;
    max-width: 100%;
}

html {
    font-size: 1rem;
}

@media (min-width: 1200px) {
    html {
        font-size: 1.1rem;
    }
}

body {
    background-color: $body-background;
}

//Custom Scrollbar 
* {
    scrollbar-width: thin;
    scrollbar-color: $body-background #336699;
}

*::-webkit-scrollbar {
    width: 15px;
}
*::-webkit-scrollbar-track {
    background: #336699;
}
*::-webkit-scrollbar-thumb {
    background-color: $body-background;
    border: 3px solid #336699;
}
*::-webkit-scrollbar-thumb:hover {
    background: #99ccff;
    transition: 0.5s ease;
}

header, #content-start{
    visibility: hidden;
    display: none;
}

.load{
    min-height: 74vh;
    color: #d84494;
    font-size: 5rem;
    background-color: #330867;
}

.link-no-style{
    text-decoration: none !important;
    color: #fff;
    :hover{
        text-decoration: none !important;
        color: #fff;
    }
}

//Header
#intro-header{
    width: 100%;
    background-color: #6666ff;
    min-height: 100vh;
    .header-bg{
        position: absolute;
        top: 0;
        background-image: linear-gradient(to right, #6666ff 0%, #336699 100%);
        background-repeat: no-repeat;
        background-position: top right;
        background-size: cover;
        width: 100%;
        height: 100vh;
    }
    .header-blue-lines{
        width: 100%;
        height: 100%;
        opacity: 100%;
        background-image: url('assets/Header/blue-lines.png');
        background-repeat: no-repeat;
        background-position: top right;
        background-size: cover;
        position: absolute;
        top: 0;
        width: 100%;
        right:0;
    }
    .header-purple-line{
        position: absolute;
        opacity: 0%;
        top: 0;
        width: 100%;
        height: 100%;
        background-image: url('assets/Header/purple-line.png');
        background-repeat: no-repeat;
        background-position: top right;
        background-size: cover;
    }
    .header-triangle{
        width: 100%;
        height: 100%;
        opacity: 0%;
        background-image: url('assets/Header/triangle.png');
        background-repeat: no-repeat;
        background-position: top right;
        background-size: cover;
        position: absolute;
        top: 0;
    }
    .header-me{
        background-image: url('assets/Header/me.png');
        background-repeat: no-repeat;
        background-position: top right;
        background-size: cover;
        position: absolute;
        width: 100%;
        top:0;
        height: 100%;
    }
    .header-text-container{
        height: 100%;
        top: 0;
        position: absolute;
        .header-text{
            h1{
                opacity: 0%;
                font-family: $headFont;
                color: #ccffff;
                line-height: 5rem;
                font-size: 6rem;
                text-shadow: 2px 2px 5px $body-background;
                display: block;
            }
            p{
                opacity: 0%;
                margin-top: 2rem;
                font-family: 'Lato', "Helvetica Neue", Helvetica, Arial, sans-serif;
                font-weight: 400;
                font-size: 1.2rem;
                color: #ccffff;
                padding: 0.5rem;
                background-color: $body-background;//#99ccff;
                border-radius: 1rem;
            }
        }
        .header-text:hover{
            cursor: default;
        }
    }
      
    #scroll-down-indicator {
        opacity: 0;
        animation: bounce 1.5s ease infinite;
        color: #fff;
        width: 100%;
        font-size: 2rem;
        height: 4rem;
        left: 0;
        line-height: 4rem;
        bottom:5rem;
        position: absolute;
        text-align: center;
    }
    
    @keyframes bounce {
        50% {
            transform: translateY(-50%);
        }
        100% {
            transform: translateY(0);
        }
    }
}


//Nav
.nav-custom{
    background-color: $nav-background;
    //background-color: rgb(44, 0, 80);
    min-height: 8vh;
}

#nav-logo{
    width: 60px;
    height: auto;
}

//Sections
section{
    min-height: 100vh;
}

section, footer{
    border-style: solid;
    border-width: 6px 10px;
    border-color: $nav-background;
    border-radius: 15px;
}
footer{
    border-width: 6px 10px 10px 10px;
    
}

.push-spaces{
    height: 60px;
}

.section-spacer{
    padding-top: 75px;
}

.section-title{
    color: white;
    padding-bottom: 20px;
    font-family: $headFont;
}

.bg-alt{
    background-color: $body-background-alt;
}

.svg-bg{
    min-height: 100vh;
}


//About
#about{
    background-color: #30cfd0;
    background-image: linear-gradient(to bottom,#30cfd0 0%, #330867 100%);
    p{
        font-family: 'Lato', sans-serif;
    }
    .svg-bg{
        background-image: url("assets/Sections/about-bg.webp");
        background-repeat: no-repeat;
        background-position: center;
        background-size: 2500px 2500px;
    }
    hr{
        background-color: #fff;
    }
    .about-contact{
        a{
            color: #fff; 
        }
        a:hover{
            color: #30cfd0;
        }
    }
    .socials{
        font-size: 1.5em;
        width: 60%;
        margin: auto;
        a{
            color:#fff;
        }
        a:hover{
            color: #30cfd0;
        }
        ul{
            width: 100%;
        }
    }
}

//Education
#education{
    background-color: #b224ef;
    background-image: linear-gradient(to top, #d84494 0%, #330867 100%);
    .svg-bg{
        background-image: url("assets/Sections/education-bg.webp");
        background-repeat: no-repeat;
        background-position: "center";
        background-size: 1000px 1000px;
    }
    .education-logo{
        img{
            width:120px; 
            height:120px;
        }
    }
    hr{
        background-color: #fff;
    }
    a{
        color:#99ccff;
    }
    a:hover{
        color:#30cfd0;
    }
}


//Skills
#skills{
    background-image: linear-gradient(to top, #3e0574 0%, #d84494 100%);
    .svg-bg{
        background-image: url("assets/Sections/skills-bg.webp");
        background-repeat: no-repeat;
        background-position: center 10%;
        background-size: 1800px 1800px;
    }
    ul{
        li {
            background-color: #1565c0;
        }
        li:hover {
            background-color: #1e88e5;
            cursor: pointer;
            transition: 0.5s ease;
        }
    }
}


//Certifications
#certifications{
    background-image: linear-gradient(to top, #006064 0%, #3e0574 100%);
    .svg-bg{
        background-image: url("assets/Sections/certification-bg.webp");
        background-repeat: no-repeat;
        background-position: center ;
        background-size: 2500px 2500px;
    }
    #certification-title{
        text-align: center;
        text-decoration: none;
        :hover{
            text-decoration: none;
        }
    }
    .card-body{
        background-color: #1565c0;
        color: #f1f1f1;
    }
    .card-body:hover{
        background-color: #1e88e5;
        color: #fff;
        transition: 0.5s ease;
    }
    .certificate-preview{
        background-image: radial-gradient(73% 147%, #EADFDF 59%, #ECE2DF 100%), radial-gradient(91% 146%, rgba(255,255,255,0.50) 47%, rgba(0,0,0,0.50) 100%);
        background-blend-mode: screen;
    }
}
.certificate-hovereffect {
    width:100%;
    height:100%;
    float:left;
    overflow:hidden;
    position:relative;
    text-align:center;
    cursor:default;
    .certificate-preview-overlay {
        width:100%;
        height:100%;
        position:absolute;
        overflow:hidden;
        top:0;
        left:0;
        opacity:0;
        background-color:rgba(0,0,0,0.5);
        transition:all .4s ease-in-out
    }
    img {
        display:block;
        position:relative;
        transition:all .4s linear;
        width: 100%;
        max-height: 350px;
        margin: auto;
    }
    h5 {
        text-transform:uppercase;
        color:#fff;
        text-align:center;
        position:relative;
        background:rgba(0,0,0,0.6);
        transform:translatey(-100px);
        transition:all .2s ease-in-out;
        padding:10px;
    }
    a.info {
        text-decoration:none;
        display:inline-block;
        text-transform:uppercase;
        color:#fff;
        border:1px solid #fff;
        background-color:#006064;
        opacity:0;
        width: fit-content;
        filter:alpha(opacity=0);
        transition:all .2s ease-in-out;
        margin: auto;
        padding:7px 14px;
    }
    a.info:hover {
        box-shadow:0 0 5px #fff;
        background-color: #1e88e5;
    }
    .certificate-dates{
        color: #fff;
        background:rgba(0,0,0,0.6);
        p{
            padding: 0;
            margin: 0;
        }
    }
}
.certificate-hovereffect:hover img {
    transform:scale(1.2);
}
.certificate-hovereffect:hover .certificate-preview-overlay {
    opacity:1;
    filter:alpha(opacity=100);
}
.certificate-hovereffect:hover h5, .certificate-hovereffect:hover a.info {
    opacity:1;
    filter:alpha(opacity=100);
    transform:translatey(0);
}
.certificate-hovereffect:hover a.info {
    transition-delay:.2s;
}


//Portfolio
#portfolio{
    background-color: $body-background;
    background-image: linear-gradient(to top, #f2f2f2 0%, #006064 100%);
    .svg-bg{
        //background-image: url("assets/Sections/portfolio-bg.webp");
        background-repeat: no-repeat;
        background-position: center;
        background-size: 2000px 2000px;
    }
}

//Projects
#projects{
    background-image: linear-gradient(to top, #29abe2 0%, #f2f2f2 100%);
    .section-title{
        color: #2f2f2f;
    }
    .svg-bg{
        background-image: url("assets/Sections/projects-bg.webp");
        background-repeat: no-repeat;
        background-position: center;
        background-size: 4000px 4000px;
    }
    .project-picDesc{
        background-color: rgba(0,40,70,1);
    }
    
    .project-details{
        .btn{
            background-color: rgba(0,40,70,1); //29abe2;
            color: #fff;
        }
        .btn:hover{
            background-color: #29abe2;
            color:#fff;
        }
    }
    
    #project-title{
        background-color: #1f1f1f;
        text-align: center;
    }
}


//Apps
#apps{
    background-color: $body-background;
    background-image: linear-gradient(to top, #9c27b0 0%, #29abe2 100%);
    .svg-bg{
        //background-image: url("assets/Sections/portfolio-bg.webp");
        background-repeat: no-repeat;
        background-position: center;
        background-size: 2000px 2000px;
    }
}

.btn {
    flex: 1 1 auto;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    text-shadow: 0px 0px 10px rgba(0,0,0,0.2);
    //box-shadow: 0 0 20px #eee;
    //border-radius: 10px;
}
.btn:hover {
    color: white;
    background-position: right center; 
}
.btn-contact {
    background-image: linear-gradient(to right, #DA22FF 0%, #9733EE 51%, #DA22FF 100%)
}

//Contact Me
$contact_form_bg: linear-gradient( 45deg,  #4527a0 3.6%, #673ab7 90.4% );

#contact{
    background-image: linear-gradient(to top, #4527a0 0%, #9c27b0 100%);
    .svg-bg{
        //background-image: url("assets/Sections/contact-bg.webp");
        background-repeat: no-repeat;
        background-position: center;
        background-size: 2500px 2500px;
    } 
    .contact-form-container{
        //background-image: linear-gradient( 180.8deg,  rgba(139,10,130,1) 6.9%, rgba(73,6,70,1) 73.2% );
        background-image:$contact_form_bg;
        form{
            textarea{
                resize: none;
            }
        }
    }
    #contact-info{
        a{
            width: 100%;
            font-size: 1.2em;
            background-image:$contact_form_bg;
        }
    }
}


//Media Querries 
@media (max-width:768px){
    //Sections
    .push-spaces{
        height: 30px;
    }
    //Nav
    #navbarNav{
        padding: 5px;
        text-align: center;
    }
    //About
    #about{
        .svg-bg{
            background-size: 2000px 2000px;
        }
        .socials{
            width: 90%;
        }
    }
}




//----- Footer -----

#footer {
    background-image: linear-gradient( 109.6deg,  rgba(84,13,110,1) 11.2%, rgba(238,66,102,1) 100.2% );
}

#footer a {
    color: #ffffff;
    text-decoration: none !important;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}
#footer ul.social li{
	padding: 3px 0;
}
#footer ul.social li a i {
    margin-right: 5px;
	font-size:25px;
	transition: .5s all ease;
}
#footer ul.social li:hover a i {
	font-size:30px;
	margin-top:-10px;
}
#footer ul.social li a,
#footer ul.quick-links li a{
	color:#ffffff;
}
#footer ul.social li a:hover{
	color:#eeeeee;
}
#footer ul.quick-links li{
	padding: 3px 0;
	transition: .5s all ease;
}
#footer ul.quick-links li:hover{
	padding: 3px 0;
	margin-left:5px;
	font-weight:700;
}
#footer ul.quick-links li a i{
	margin-right: 5px;
}
#footer ul.quick-links li:hover a i {
    font-weight: 700;
}
