$body-background: #101010;
$body-background-alt: #1f1f1f;
$nav-background: #0a0a0a;

@font-face{
    font-family: GoodTimes;
    src: url('fonts/good_times.ttf')
}

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

html, body{
    scroll-behavior: smooth;
}

html {
    font-size: 1rem;
}

@media (min-width: 768px) {
    html {
        font-size: 1.1rem;
    }
}

@media (min-width: 992px) {
    html {
        font-size: 1.2rem;
    }
}

@media (min-width: 1200px) {
    html {
        font-size: 1.2rem;
    }
}

body {
    overflow-x: hidden;
    background-color: $body-background;
}

#content-area{
    visibility: hidden;
    display: none;
}

.link-no-style{
    text-decoration: none !important;
    color: #fff;
    :hover{
        text-decoration: none !important;
        color: #fff;
    }
}

//Header
#intro-header{
    background-color: #000000;
    background-image: url('assets/saber.webp');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 100vh;
    #dp{
        width: 250px;
        height: 250px;
        border: 3px solid darkviolet;
    }

    h1{
        font-family: GoodTimes, "Helvetica Neue", Helvetica, Arial, sans-serif;
        color: mediumorchid;
    }
    p{
        color: plum;
    }
}

//Nav
.nav-custom{
    background-color: $nav-background;
}

#nav-logo{
    width: 75px;
    height: auto;
}

//Sections
section{
    min-height: 100vh;
}

section, footer{
    border-style: solid;
    border-width: 6px 10px;
    border-color: $body-background;
    border-radius: 15px;
}
footer{
    border-width: 6px 10px 10px 10px;
    
}

.push-spaces{
    height: 60px;
}

.section-spacer{
    padding-top: 75px;
}

.section-title{
    color: white;
    padding-bottom: 20px;
}

.bg-alt{
    background-color: $body-background-alt;
}

.svg-bg{
    min-height: 100vh;
}


//About
#about{
    background-color: #30cfd0;
    background-image: linear-gradient(to bottom,#30cfd0 0%, #330867 100%);
    p{
        font-family: 'Sriracha', cursive;
    }
    .svg-bg{
        background-image: url("assets/Sections/about-bg.webp");
        background-repeat: no-repeat;
        background-position: center;
        background-size: 2500px 2500px;
    }
    hr{
        background-color: #fff;
    }
    .about-contact{
        a{
            color: #fff; 
        }
        a:hover{
            color: #003d4d;
        }
    }
    .socials{
        font-size: 1.5em;
        width: 60%;
        margin: auto;
        a{
            color:#fff;
        }
        a:hover{
            color: #003d4d;
        }
        ul{
            width: 100%;
        }
    }
}

//Education
#education{
    background-color: #b224ef;
    background-image: linear-gradient(to top, #b224ef 0%, #7579ff 100%);
    .svg-bg{
        background-image: url("assets/Sections/education-bg.webp");
        background-repeat: no-repeat;
        background-position: "center";
        background-size: 2000px 2000px;
    }
    .education-logo{
        img{
            width:120px; 
            height:120px;
        }
    }
    hr{
        background-color: #fff;
    }

}


//Skills
#skills{
    background-image: linear-gradient( 109.8deg,  rgba(62,5,116,1) -5.2%, rgba(41,14,151,1) -5.2%, rgba(216,68,148,1) 103.3% );
    .svg-bg{
        background-image: url("assets/Sections/skills-bg.webp");
        background-repeat: no-repeat;
        background-position: center;
        background-size: 4500px 4500px;
    }
}


//Certifications
#certifications{
    background-image: linear-gradient(45deg, #874da2 0%, #c43a30 100%);
    .svg-bg{
        background-image: url("assets/Sections/certification-bg.webp");
        background-repeat: no-repeat;
        background-position: center;
        background-size: 3000px 3000px;
    }
    #certification-title{
        text-align: center;
        text-decoration: none;
        :hover{
            text-decoration: none;
        }
    }
    .card-body{
        background-color: #874da2;
        color: #f1f1f1;
    }
    .card-body:hover{
        background-color: #c43a30;
        color: #fff;
        transition: 0.5s ease;
    }
    .certificate-preview{
        background-image: radial-gradient(73% 147%, #EADFDF 59%, #ECE2DF 100%), radial-gradient(91% 146%, rgba(255,255,255,0.50) 47%, rgba(0,0,0,0.50) 100%);
        background-blend-mode: screen;
    }
}
.certificate-hovereffect {
    width:100%;
    height:100%;
    float:left;
    overflow:hidden;
    position:relative;
    text-align:center;
    cursor:default;
    .certificate-preview-overlay {
        width:100%;
        height:100%;
        position:absolute;
        overflow:hidden;
        top:0;
        left:0;
        opacity:0;
        background-color:rgba(0,0,0,0.5);
        transition:all .4s ease-in-out
    }
    img {
        display:block;
        position:relative;
        transition:all .4s linear;
        width: 100%;
        max-height: 350px;
        margin: auto;
    }
    h5 {
        text-transform:uppercase;
        color:#fff;
        text-align:center;
        position:relative;
        background:rgba(0,0,0,0.6);
        transform:translatey(-100px);
        transition:all .2s ease-in-out;
        padding:10px;
    }
    a.info {
        text-decoration:none;
        display:inline-block;
        text-transform:uppercase;
        color:#fff;
        border:1px solid #fff;
        background-color:rgba(204, 102, 255, 0.5);
        opacity:0;
        width: fit-content;
        filter:alpha(opacity=0);
        transition:all .2s ease-in-out;
        margin: auto;
        padding:7px 14px;
    }
    a.info:hover {
        box-shadow:0 0 5px #fff;
        background-color: rgba(255, 77, 77, 0.5);
    }
    .certificate-dates{
        color: #fff;
        background:rgba(0,0,0,0.6);
        p{
            padding: 0;
            margin: 0;
        }
    }
}
.certificate-hovereffect:hover img {
    transform:scale(1.2);
}
.certificate-hovereffect:hover .certificate-preview-overlay {
    opacity:1;
    filter:alpha(opacity=100);
}
.certificate-hovereffect:hover h5, .certificate-hovereffect:hover a.info {
    opacity:1;
    filter:alpha(opacity=100);
    transform:translatey(0);
}
.certificate-hovereffect:hover a.info {
    transition-delay:.2s;
}


//Portfolio
#portfolio{
    background-color: $body-background;
    .svg-bg{
        //background-image: url("assets/Sections/portfolio-bg.webp");
        background-repeat: no-repeat;
        background-position: center;
        background-size: 2000px 2000px;
    }
}

//Projects
#projects{
    background-image: linear-gradient( 112.2deg,  rgba(0,40,70,1) -4.8%, rgba(255,115,115,1) 82.7%, rgba(255,175,123,1) 97.2% );
    .svg-bg{
        background-image: url("assets/Sections/projects-bg.webp");
        background-repeat: no-repeat;
        background-position: center;
        background-size: 2000px 2000px;
    }
    .project-picDesc{
        background-color: rgba(0,40,70,1);
    }
    
    .project-details{
        .btn{
            background-color: rgba(255,115,115,1);
            color: white;
        }
        .btn:hover{
            background-color: rgba(255,175,123,1);
        }
    }
    
    #project-title{
        background-color: #0f0f0f;
        text-align: center;
    }
    
}

.btn {
    flex: 1 1 auto;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    text-shadow: 0px 0px 10px rgba(0,0,0,0.2);
    //box-shadow: 0 0 20px #eee;
    //border-radius: 10px;
}
.btn:hover {
    color: white;
    background-position: right center; 
}
.btn-contact {
    background-image: linear-gradient(to right, #DA22FF 0%, #9733EE 51%, #DA22FF 100%)
}

//Contact Me
$contact_form_bg: linear-gradient( 279deg,  rgba(121,45,129,1) 3.6%, rgba(36,31,98,1) 90.4% );

#contact{
    background-image: linear-gradient( 279deg,  rgba(121,45,129,1) 3.6%, rgba(36,31,98,1) 90.4% );
    .svg-bg{
        background-image: url("assets/Sections/contact-bg.webp");
        background-repeat: no-repeat;
        background-position: center;
        background-size: 2500px 2500px;
    } 
    .contact-form-container{
        //background-image: linear-gradient( 180.8deg,  rgba(139,10,130,1) 6.9%, rgba(73,6,70,1) 73.2% );
        background-image:$contact_form_bg;
        form{
            textarea{
                resize: none;
            }
        }
    }
    #contact-info{
        a{
            width: 100%;
            font-size: 1.2em;
            background-image:$contact_form_bg;
        }
    }
}


//Media Querries 
@media (max-width:768px){
    //Header
    #intro-header{
        background-image: url('assets/saber_r.webp');
        padding: 25% 0%;
        [class*="col-"] {
            margin-bottom: 200px;
        }
    }
    //Sections
    .push-spaces{
        height: 30px;
    }
    //Nav
    #navbarNav{
        padding: 5px;
        text-align: center;
    }
    //About
    #about{
        .svg-bg{
            background-size: 2000px 2000px;
        }
        .socials{
            width: 90%;
        }
    }
}




//----- Footer -----

#footer {
    background-image: linear-gradient( 109.6deg,  rgba(84,13,110,1) 11.2%, rgba(238,66,102,1) 100.2% );
}

#footer a {
    color: #ffffff;
    text-decoration: none !important;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}
#footer ul.social li{
	padding: 3px 0;
}
#footer ul.social li a i {
    margin-right: 5px;
	font-size:25px;
	transition: .5s all ease;
}
#footer ul.social li:hover a i {
	font-size:30px;
	margin-top:-10px;
}
#footer ul.social li a,
#footer ul.quick-links li a{
	color:#ffffff;
}
#footer ul.social li a:hover{
	color:#eeeeee;
}
#footer ul.quick-links li{
	padding: 3px 0;
	transition: .5s all ease;
}
#footer ul.quick-links li:hover{
	padding: 3px 0;
	margin-left:5px;
	font-weight:700;
}
#footer ul.quick-links li a i{
	margin-right: 5px;
}
#footer ul.quick-links li:hover a i {
    font-weight: 700;
}
